openapi: 3.0.3
info:
  title: Blytz.Cloud API
  description: Multi-tenant booking management platform for service businesses
  version: 1.0.0
  contact:
    name: Blytz.Cloud API Support
    email: api@blytz.cloud

servers:
  - url: https://api.blytz.cloud/v1
    description: Production
  - url: https://staging-api.blytz.cloud/v1
    description: Staging
  - url: http://localhost:8080/v1
    description: Local Development

tags:
  - name: Authentication
    description: Operator authentication and session management
  - name: Business
    description: Business profile and settings management
  - name: Services
    description: Service offerings and pricing management
  - name: Slots
    description: Availability and scheduling management
  - name: Bookings
    description: Booking management and operations
  - name: Customers
    description: Customer database and relationship management
  - name: Payments
    description: Payment processing and transactions
  - name: Analytics
    description: Reporting and business intelligence
  - name: Webhooks
    description: Event subscriptions and notifications
  - name: Admin
    description: Platform administration (superadmin only)

security:
  - BearerAuth: []

paths:
  # ============================================================
  # AUTHENTICATION ENDPOINTS
  # ============================================================
  /auth/register:
    post:
      tags: [Authentication]
      summary: Register new business account
      description: Creates a new business and admin user account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Account created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'

  /auth/login:
    post:
      tags: [Authentication]
      summary: Login with email and password
      description: Authenticates user and returns JWT token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags: [Authentication]
      summary: Logout current session
      description: Invalidates JWT token (server-side token blacklist)
      responses:
        '204':
          description: Logout successful

  /auth/refresh:
    post:
      tags: [Authentication]
      summary: Refresh access token
      description: Exchange refresh token for new access token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refresh_token:
                  type: string
      responses:
        '200':
          description: Token refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'

  /auth/me:
    get:
      tags: [Authentication]
      summary: Get current user profile
      description: Returns authenticated user details and business context
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'

  # ============================================================
  # BUSINESS MANAGEMENT ENDPOINTS
  # ============================================================
  /businesses:
    get:
      tags: [Business]
      summary: List accessible businesses
      description: Returns list of businesses the authenticated user has access to
      responses:
        '200':
          description: List of businesses
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Business'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  /businesses/{business_id}:
    get:
      tags: [Business]
      summary: Get business details
      description: Returns business profile (public endpoint when accessed via subdomain)
      parameters:
        - $ref: '#/components/parameters/BusinessId'
      responses:
        '200':
          description: Business details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessDetail'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Business]
      summary: Update business profile
      description: Update business settings and branding
      parameters:
        - $ref: '#/components/parameters/BusinessId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessUpdateRequest'
      responses:
        '200':
          description: Business updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessDetail'
        '403':
          $ref: '#/components/responses/Forbidden'

    delete:
      tags: [Business]
      summary: Delete business account
      description: Permanently delete business and all associated data
      parameters:
        - $ref: '#/components/parameters/BusinessId'
      responses:
        '204':
          description: Business deleted
        '403':
          $ref: '#/components/responses/Forbidden'

  /businesses/{business_id}/settings:
    get:
      tags: [Business]
      summary: Get business settings
      description: Returns business configuration including payment, booking policies
      parameters:
        - $ref: '#/components/parameters/BusinessId'
      responses:
        '200':
          description: Business settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessSettings'

    patch:
      tags: [Business]
      summary: Update business settings
      description: Update business configuration
      parameters:
        - $ref: '#/components/parameters/BusinessId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessSettingsUpdateRequest'
      responses:
        '200':
          description: Settings updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessSettings'

  # ============================================================
  # SERVICE MANAGEMENT ENDPOINTS
  # ============================================================
  /businesses/{business_id}/services:
    get:
      tags: [Services]
      summary: List business services
      description: Returns all services for a business (public endpoint)
      parameters:
        - $ref: '#/components/parameters/BusinessId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: List of services
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Service'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

    post:
      tags: [Services]
      summary: Create new service
      description: Add a new service offering to the business
      parameters:
        - $ref: '#/components/parameters/BusinessId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceCreateRequest'
      responses:
        '201':
          description: Service created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceDetail'
        '403':
          $ref: '#/components/responses/Forbidden'

  /services/{service_id}:
    get:
      tags: [Services]
      summary: Get service details
      description: Returns detailed information about a specific service
      parameters:
        - $ref: '#/components/parameters/ServiceId'
      responses:
        '200':
          description: Service details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceDetail'

    patch:
      tags: [Services]
      summary: Update service
      description: Modify service details, pricing, or availability
      parameters:
        - $ref: '#/components/parameters/ServiceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceUpdateRequest'
      responses:
        '200':
          description: Service updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceDetail'

    delete:
      tags: [Services]
      summary: Delete service
      description: Remove a service (soft delete to preserve booking history)
      parameters:
        - $ref: '#/components/parameters/ServiceId'
      responses:
        '204':
          description: Service deleted

  # ============================================================
  # SLOT/AVALABILITY MANAGEMENT ENDPOINTS
  # ============================================================
  /businesses/{business_id}/slots:
    get:
      tags: [Slots]
      summary: List available slots
      description: Returns available time slots for booking (public endpoint)
      parameters:
        - $ref: '#/components/parameters/BusinessId'
        - name: start_date
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Start date (YYYY-MM-DD)
        - name: end_date
          in: query
          required: true
          schema:
            type: string
            format: date
          description: End date (YYYY-MM-DD)
        - name: service_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by service
      responses:
        '200':
          description: Available slots
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Slot'

    post:
      tags: [Slots]
      summary: Create availability slots
      description: Bulk create time slots for booking
      parameters:
        - $ref: '#/components/parameters/BusinessId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlotCreateRequest'
      responses:
        '201':
          description: Slots created
          content:
            application/json:
              schema:
                type: object
                properties:
                  created_count:
                    type: integer
                  slots:
                    type: array
                    items:
                      $ref: '#/components/schemas/Slot'

  /businesses/{business_id}/slots/recurring:
    post:
      tags: [Slots]
      summary: Create recurring availability schedule
      description: Set up recurring time slots (e.g., every Monday 9am-5pm)
      parameters:
        - $ref: '#/components/parameters/BusinessId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecurringScheduleRequest'
      responses:
        '201':
          description: Recurring schedule created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringSchedule'

    delete:
      tags: [Slots]
      summary: Delete recurring schedule
      description: Remove recurring schedule
      parameters:
        - $ref: '#/components/parameters/BusinessId'
        - name: schedule_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Schedule deleted

  /slots/{slot_id}:
    delete:
      tags: [Slots]
      summary: Delete slot
      description: Remove a specific time slot
      parameters:
        - $ref: '#/components/parameters/SlotId'
      responses:
        '204':
          description: Slot deleted

  # ============================================================
  # BOOKING MANAGEMENT ENDPOINTS
  # ============================================================
  /bookings:
    post:
      tags: [Bookings]
      summary: Create booking
      description: Create a new booking (public endpoint)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingCreateRequest'
      responses:
        '201':
          description: Booking created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingDetail'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Slot no longer available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /bookings/{booking_id}:
    get:
      tags: [Bookings]
      summary: Get booking details
      description: Returns booking information
      parameters:
        - $ref: '#/components/parameters/BookingId'
      responses:
        '200':
          description: Booking details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingDetail'

    patch:
      tags: [Bookings]
      summary: Update booking
      description: Modify booking details (status, time, etc.)
      parameters:
        - $ref: '#/components/parameters/BookingId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingUpdateRequest'
      responses:
        '200':
          description: Booking updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingDetail'

    delete:
      tags: [Bookings]
      summary: Cancel booking
      description: Cancel a booking (soft delete)
      parameters:
        - $ref: '#/components/parameters/BookingId'
      responses:
        '204':
          description: Booking cancelled

  /businesses/{business_id}/bookings:
    get:
      tags: [Bookings]
      summary: List business bookings
      description: Returns all bookings for a business (admin view)
      parameters:
        - $ref: '#/components/parameters/BusinessId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/BookingStatus'
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
        - name: search
          in: query
          schema:
            type: string
          description: Search by customer name or email
      responses:
        '200':
          description: List of bookings
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Booking'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  /bookings/{booking_id}/confirm:
    post:
      tags: [Bookings]
      summary: Confirm booking
      description: Mark booking as confirmed (admin action)
      parameters:
        - $ref: '#/components/parameters/BookingId'
      responses:
        '200':
          description: Booking confirmed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingDetail'

  /bookings/{booking_id}/complete:
    post:
      tags: [Bookings]
      summary: Complete booking
      description: Mark booking as completed (service rendered)
      parameters:
        - $ref: '#/components/parameters/BookingId'
      responses:
        '200':
          description: Booking completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingDetail'

  /bookings/{booking_id}/reschedule:
    post:
      tags: [Bookings]
      summary: Reschedule booking
      description: Move booking to a different time slot
      parameters:
        - $ref: '#/components/parameters/BookingId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                slot_id:
                  type: string
                  format: uuid
                reason:
                  type: string
      responses:
        '200':
          description: Booking rescheduled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingDetail'

  # ============================================================
  # CUSTOMER MANAGEMENT ENDPOINTS
  # ============================================================
  /businesses/{business_id}/customers:
    get:
      tags: [Customers]
      summary: List customers
      description: Returns customer database
      parameters:
        - $ref: '#/components/parameters/BusinessId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - name: search
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of customers
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

    post:
      tags: [Customers]
      summary: Create customer
      description: Add customer to database
      parameters:
        - $ref: '#/components/parameters/BusinessId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCreateRequest'
      responses:
        '201':
          description: Customer created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'

  /customers/{customer_id}:
    get:
      tags: [Customers]
      summary: Get customer details
      description: Returns customer profile with booking history
      parameters:
        - $ref: '#/components/parameters/CustomerId'
      responses:
        '200':
          description: Customer details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDetail'

    patch:
      tags: [Customers]
      summary: Update customer
      description: Update customer information
      parameters:
        - $ref: '#/components/parameters/CustomerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdateRequest'
      responses:
        '200':
          description: Customer updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'

    delete:
      tags: [Customers]
      summary: Delete customer
      description: Remove customer (soft delete)
      parameters:
        - $ref: '#/components/parameters/CustomerId'
      responses:
        '204':
          description: Customer deleted

  # ============================================================
  # PAYMENT ENDPOINTS
  # ============================================================
  /payments/create-intent:
    post:
      tags: [Payments]
      summary: Create payment intent
      description: Initialize Stripe payment for booking deposit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                booking_id:
                  type: string
                  format: uuid
                amount:
                  type: number
                  format: float
                currency:
                  type: string
                  default: USD
      responses:
        '200':
          description: Payment intent created
          content:
            application/json:
              schema:
                type: object
                properties:
                  client_secret:
                    type: string
                  payment_intent_id:
                    type: string
                  amount:
                    type: number

  /payments/{payment_id}/confirm:
    post:
      tags: [Payments]
      summary: Confirm payment
      description: Webhook callback from Stripe
      security: []
      parameters:
        - name: payment_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Payment confirmed

  /businesses/{business_id}/payments:
    get:
      tags: [Payments]
      summary: List payments
      description: Returns payment history
      parameters:
        - $ref: '#/components/parameters/BusinessId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: List of payments
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Payment'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  # ============================================================
  # ANALYTICS ENDPOINTS
  # ============================================================
  /businesses/{business_id}/analytics/overview:
    get:
      tags: [Analytics]
      summary: Get business overview
      description: Returns key metrics and KPIs
      parameters:
        - $ref: '#/components/parameters/BusinessId'
        - name: period
          in: query
          schema:
            type: string
            enum: [7d, 30d, 90d, 1y, all]
            default: 30d
      responses:
        '200':
          description: Analytics overview
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsOverview'

  /businesses/{business_id}/analytics/revenue:
    get:
      tags: [Analytics]
      summary: Get revenue analytics
      description: Revenue breakdown by service, time period, etc.
      parameters:
        - $ref: '#/components/parameters/BusinessId'
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
        - name: group_by
          in: query
          schema:
            type: string
            enum: [day, week, month, service]
      responses:
        '200':
          description: Revenue analytics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueAnalytics'

  /businesses/{business_id}/analytics/bookings:
    get:
      tags: [Analytics]
      summary: Get booking analytics
      description: Booking metrics, conversion rates, etc.
      parameters:
        - $ref: '#/components/parameters/BusinessId'
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Booking analytics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingAnalytics'

  # ============================================================
  # WEBHOOK ENDPOINTS
  # ============================================================
  /webhooks:
    get:
      tags: [Webhooks]
      summary: List webhooks
      description: Returns configured webhook subscriptions
      parameters:
        - $ref: '#/components/parameters/BusinessId'
      responses:
        '200':
          description: List of webhooks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Webhook'

    post:
      tags: [Webhooks]
      summary: Create webhook
      description: Subscribe to business events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreateRequest'
      responses:
        '201':
          description: Webhook created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'

  /webhooks/{webhook_id}:
    delete:
      tags: [Webhooks]
      summary: Delete webhook
      description: Unsubscribe from events
      parameters:
        - name: webhook_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Webhook deleted

  # ============================================================
  # ADMIN ENDPOINTS (SUPERADMIN ONLY)
  # ============================================================
  /admin/businesses:
    get:
      tags: [Admin]
      summary: List all businesses (superadmin)
      description: Platform-wide business listing
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - name: status
          in: query
          schema:
            type: string
            enum: [active, suspended, trial]
      responses:
        '200':
          description: List of businesses
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Business'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  /admin/businesses/{business_id}/suspend:
    post:
      tags: [Admin]
      summary: Suspend business
      description: Suspend business account (superadmin only)
      parameters:
        - $ref: '#/components/parameters/BusinessId'
      responses:
        '200':
          description: Business suspended

  /admin/users:
    get:
      tags: [Admin]
      summary: List all users
      description: Platform-wide user listing
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from /auth/login

  parameters:
    BusinessId:
      name: business_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Business UUID

    ServiceId:
      name: service_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Service UUID

    SlotId:
      name: slot_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Slot UUID

    BookingId:
      name: booking_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Booking UUID

    CustomerId:
      name: customer_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Customer UUID

    Page:
      name: page
      in: query
      schema:
        type: integer
        default: 1
        minimum: 1

    Limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100

  schemas:
    # ============================================
    # REQUEST SCHEMAS
    # ============================================
    RegisterRequest:
      type: object
      required:
        - business_name
        - business_slug
        - email
        - password
        - full_name
      properties:
        business_name:
          type: string
          minLength: 3
          maxLength: 100
        business_slug:
          type: string
          pattern: '^[a-z0-9-]+$'
          description: Subdomain slug (e.g., "detail-pro")
        business_vertical:
          type: string
          enum: [automotive, wellness, creative, professional, other]
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
          description: Must contain uppercase, lowercase, number, special character
        full_name:
          type: string

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string

    BusinessUpdateRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 100
        description:
          type: string
          maxLength: 500
        theme_color:
          type: string
          pattern: '^#[0-9A-Fa-f]{6}$'
        logo_url:
          type: string
          format: uri

    BusinessSettingsUpdateRequest:
      type: object
      properties:
        require_deposit:
          type: boolean
          description: Pro feature - require deposit for bookings
        cancellation_policy_hours:
          type: integer
          description: Minimum hours before cancellation
          minimum: 0
        confirmation_email:
          type: boolean
        reminder_email:
          type: boolean
        reminder_hours_before:
          type: integer
          minimum: 1
        timezone:
          type: string
          description: IANA timezone (e.g., "America/New_York")
        booking_buffer_minutes:
          type: integer
          description: Minimum time between bookings
          minimum: 0

    ServiceCreateRequest:
      type: object
      required:
        - name
        - duration_min
        - total_price
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 100
        description:
          type: string
          maxLength: 500
        duration_min:
          type: integer
          minimum: 5
          maximum: 480
        total_price:
          type: number
          format: float
          minimum: 0
        deposit_amount:
          type: number
          format: float
          minimum: 0
          description: Optional - defaults to 0 if not specified (pro feature)
        is_active:
          type: boolean
          default: true
        max_capacity:
          type: integer
          minimum: 1
          default: 1

    ServiceUpdateRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 100
        description:
          type: string
          maxLength: 500
        duration_min:
          type: integer
          minimum: 5
          maximum: 480
        total_price:
          type: number
          format: float
          minimum: 0
        deposit_amount:
          type: number
          format: float
          minimum: 0
        is_active:
          type: boolean
        max_capacity:
          type: integer
          minimum: 1

    SlotCreateRequest:
      type: object
      required:
        - slots
      properties:
        slots:
          type: array
          items:
            type: object
            required:
              - start_time
              - end_time
            properties:
              start_time:
                type: string
                format: date-time
              end_time:
                type: string
                format: date-time
              service_id:
                type: string
                format: uuid

    RecurringScheduleRequest:
      type: object
      required:
        - days_of_week
        - start_time
        - end_time
        - start_date
        - end_date
      properties:
        name:
          type: string
        days_of_week:
          type: array
          items:
            type: integer
            minimum: 0
            maximum: 6
          description: 0=Sunday, 1=Monday, etc.
        start_time:
          type: string
          pattern: '^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$'
          description: HH:MM format
        end_time:
          type: string
          pattern: '^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$'
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        exclude_dates:
          type: array
          items:
            type: string
            format: date

    BookingCreateRequest:
      type: object
      required:
        - business_id
        - service_id
        - slot_id
        - customer
      properties:
        business_id:
          type: string
          format: uuid
        service_id:
          type: string
          format: uuid
        slot_id:
          type: string
          format: uuid
        customer:
          $ref: '#/components/schemas/CustomerCreateRequest'
        notes:
          type: string
          maxLength: 1000

    BookingUpdateRequest:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/BookingStatus'
        notes:
          type: string
          maxLength: 1000

    CustomerCreateRequest:
      type: object
      required:
        - name
        - email
        - phone
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 100
        email:
          type: string
          format: email
        phone:
          type: string
          pattern: '^\+?[1-9]\d{1,14}$'
          description: E.164 format

    CustomerUpdateRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 100
        email:
          type: string
          format: email
        phone:
          type: string
          pattern: '^\+?[1-9]\d{1,14}$'
        notes:
          type: string
          maxLength: 1000

    WebhookCreateRequest:
      type: object
      required:
        - url
        - events
      properties:
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
            enum: [booking.created, booking.confirmed, booking.cancelled, booking.completed, payment.succeeded, payment.failed]
        secret:
          type: string
          description: Optional - auto-generated if not provided

    # ============================================
    # RESPONSE SCHEMAS
    # ============================================
    AuthResponse:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        business:
          $ref: '#/components/schemas/Business'
        access_token:
          type: string
        refresh_token:
          type: string
        expires_in:
          type: integer
          description: Access token expiration in seconds

    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
        expires_in:
          type: integer

    UserProfile:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        business:
          $ref: '#/components/schemas/Business'
        permissions:
          type: array
          items:
            type: string

    Business:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        vertical:
          type: string
        description:
          type: string
        theme_color:
          type: string
        logo_url:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    BusinessDetail:
      allOf:
        - $ref: '#/components/schemas/Business'
        - type: object
          properties:
            settings:
              $ref: '#/components/schemas/BusinessSettings'
            subscription_plan:
              type: string
              enum: [free, pro, enterprise]
            subscription_status:
              type: string
              enum: [active, trial, past_due, cancelled]
            services_count:
              type: integer
            bookings_count:
              type: integer

    BusinessSettings:
      type: object
      properties:
        require_deposit:
          type: boolean
        cancellation_policy_hours:
          type: integer
        confirmation_email:
          type: boolean
        reminder_email:
          type: boolean
        reminder_hours_before:
          type: integer
        timezone:
          type: string
        booking_buffer_minutes:
          type: integer

    Service:
      type: object
      properties:
        id:
          type: string
          format: uuid
        business_id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        duration_min:
          type: integer
        total_price:
          type: number
          format: float
        deposit_amount:
          type: number
          format: float
        is_active:
          type: boolean
        max_capacity:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ServiceDetail:
      allOf:
        - $ref: '#/components/schemas/Service'
        - type: object
          properties:
            bookings_count:
              type: integer
            revenue_generated:
              type: number
              format: float

    Slot:
      type: object
      properties:
        id:
          type: string
          format: uuid
        business_id:
          type: string
          format: uuid
        service_id:
          type: string
          format: uuid
          nullable: true
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        is_booked:
          type: boolean
        is_available:
          type: boolean
          description: Combined with is_booked + business rules
        created_at:
          type: string
          format: date-time

    RecurringSchedule:
      type: object
      properties:
        id:
          type: string
          format: uuid
        business_id:
          type: string
          format: uuid
        name:
          type: string
        days_of_week:
          type: array
          items:
            type: integer
        start_time:
          type: string
        end_time:
          type: string
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        exclude_dates:
          type: array
          items:
            type: string
            format: date
        is_active:
          type: boolean

    BookingStatus:
      type: string
      enum: [PENDING, CONFIRMED, COMPLETED, CANCELLED, NO_SHOW]

    Booking:
      type: object
      properties:
        id:
          type: string
          format: uuid
        business_id:
          type: string
          format: uuid
        service_id:
          type: string
          format: uuid
        service_name:
          type: string
        slot_id:
          type: string
          format: uuid
        slot_time:
          type: string
          format: date-time
        customer:
          $ref: '#/components/schemas/Customer'
        status:
          $ref: '#/components/schemas/BookingStatus'
        deposit_paid:
          type: number
          format: float
        total_price:
          type: number
          format: float
        payment_status:
          type: string
          enum: [pending, partial, paid, refunded]
        notes:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    BookingDetail:
      allOf:
        - $ref: '#/components/schemas/Booking'
        - type: object
          properties:
            service:
              $ref: '#/components/schemas/Service'
            slot:
              $ref: '#/components/schemas/Slot'
            payment:
              $ref: '#/components/schemas/Payment'
            history:
              type: array
              items:
                type: object
                properties:
                  action:
                    type: string
                  timestamp:
                    type: string
                    format: date-time
                  performed_by:
                    type: string

    Customer:
      type: object
      properties:
        id:
          type: string
          format: uuid
        business_id:
          type: string
          format: uuid
        name:
          type: string
        email:
          type: string
        phone:
          type: string
        notes:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CustomerDetail:
      allOf:
        - $ref: '#/components/schemas/Customer'
        - type: object
          properties:
            total_bookings:
              type: integer
            total_spent:
              type: number
              format: float
            last_booking:
              $ref: '#/components/schemas/Booking'
            bookings:
              type: array
              items:
                $ref: '#/components/schemas/Booking'

    Payment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        booking_id:
          type: string
          format: uuid
        amount:
          type: number
          format: float
        currency:
          type: string
        status:
          type: string
          enum: [pending, processing, succeeded, failed, refunded]
        payment_method:
          type: string
          description: Stripe payment method type
        stripe_payment_intent_id:
          type: string
        created_at:
          type: string
          format: date-time

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
        name:
          type: string
        role:
          type: string
          enum: [owner, admin, staff]
        business_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time

    Webhook:
      type: object
      properties:
        id:
          type: string
          format: uuid
        business_id:
          type: string
          format: uuid
        url:
          type: string
        events:
          type: array
          items:
            type: string
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time

    AnalyticsOverview:
      type: object
      properties:
        revenue:
          type: object
          properties:
            total:
              type: number
              format: float
            change_percent:
              type: number
          description: Total revenue for period
        bookings:
          type: object
          properties:
            total:
              type: integer
            confirmed:
              type: integer
            cancelled:
              type: integer
            completion_rate:
              type: number
              format: float
        customers:
          type: object
          properties:
            new:
              type: integer
            returning:
              type: integer
            total:
              type: integer
        popular_services:
          type: array
          items:
            type: object
            properties:
              service_id:
                type: string
              service_name:
                type: string
              bookings_count:
                type: integer
              revenue:
                type: number
                format: float

    RevenueAnalytics:
      type: object
      properties:
        by_period:
          type: array
          items:
            type: object
            properties:
              period:
                type: string
              revenue:
                type: number
                format: float
              bookings:
                type: integer
        by_service:
          type: array
          items:
            type: object
            properties:
              service_name:
                type: string
              revenue:
                type: number
                format: float
              bookings:
                type: integer
              percentage:
                type: number

    BookingAnalytics:
      type: object
      properties:
        conversion_rate:
          type: number
          format: float
          description: Slots viewed to bookings booked
        average_booking_value:
          type: number
          format: float
        cancellations_by_reason:
          type: array
          items:
            type: object
            properties:
              reason:
                type: string
              count:
                type: integer
              percentage:
                type: number
        peak_booking_times:
          type: array
          items:
            type: object
            properties:
              hour:
                type: integer
              bookings:
                type: integer

    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        total_pages:
          type: integer

    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        code:
          type: string
        details:
          type: object
      required:
        - error
        - code

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Bad Request
            code: INVALID_REQUEST
            message: Request validation failed

    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Unauthorized
            code: UNAUTHORIZED
            message: Invalid or expired token

    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Forbidden
            code: FORBIDDEN
            message: You don't have permission to access this resource

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Not Found
            code: NOT_FOUND
            message: The requested resource was not found

    Conflict:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Conflict
            code: CONFLICT
            message: Resource already exists

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Internal Server Error
            code: INTERNAL_ERROR
            message: An unexpected error occurred
